body{   background-image: url(img/fundo-site.jpg);
        background-size: contain;
        background-position: center;
        margin-left: 1000px;
        margin-right: 1000px;}

    h1{color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 150px;
    font-weight: 700;}

.titulo {font-family: 'Times New Roman', Times, serif;
        color:rgb(239, 199, 21); 
        text-align: center;
        font-size: 120px;
        font-weight: 700;}

.texto {font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255); 
        text-align: left;
        font-size: 80px;
        font-weight: 700;}

.gft1 { width: 1800px;
        height: auto;}  

.gft2 { width: 2260px;
        height: auto;}


        
